
<div class="aboutMe">

<h1>Welcome to Gameshareit </h1>
<p> The site for gamers by gamers to get together as a community and talk about their favorite (or not so favorite) games. Be sure to register an account if you'd like to share your thoughts about a particular game. </p>
</div>
