<h1>Edit Game Post</h1>

<form action="/games/<%= game['id'] %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for=""> name </label>
    <input type="text" name="name" value = "<%=game['name']%>">
    <label for="">image url</label>
    <input type="text" name="image_url" value = "<%=game['image_url']%>">
    <label for="">description</label>
    <input type="text" name="description" value = "<%=game['description']%>">
    <button>Update</button>
</form>