<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gameshareit</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="if_logged">
      <% if logged_in?%> logged in as <%= current_user()['email']%>
        <form action="/logout" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </form>
     <%end%>
  </div><br>


  <div class="navbar_div">

    <ul class="left_nav">
      <li><a href="/">Home</a></li>
      <li><a href="/games/new">share a new game</a></li>
      <li><a href="/about">About</a></li>
    </ul>
   
    <div class="dropdown">

      <button onclick="myFunction()" class="dropbtn">Action</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="">Platformer</a>
        <a href="">First Person Shooter</a>
        <a href="">Stealth</a>
        <a href="">Battle Royale</a>
      </div>
    
    
    
      <button onclick="myFunction()" class="dropbtn">RPG</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="">MMORPG</a>
        <a href="">Action RPG</a>
        <a href="">Sandbox RPG</a>
        <a href="">JRPG</a>
      </div>
    
    
    
      <button onclick="myFunction()" class="dropbtn">Sports</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="">Racing</a>
        <a href="">Football</a>
        <a href="">American Football</a>
        <a href="">Basketball</a>
      </div>
    
    
    
      <button onclick="myFunction()" class="dropbtn">Strategy</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="">Real-time Strategy</a>
        <a href="">MOBA</a>
        <a href="">Turn-based Strategy</a>
        <a href="">4X Game</a>
      </div>
    

    
      <button onclick="myFunction()" class="dropbtn">Simulation</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="">Mil-Sim</a>
        <a href="">Life Sim</a>
        <a href="">Vehicle Sim</a>
        <a href="">Construction and Management Sim</a>
      </div>
    

    
      <button onclick="myFunction()" class="dropbtn">VR</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="">FPS</a>
        <a href="">Social VR</a>
        <a href="">VR Supported</a>
      </div>
    

    </div>
  </div>

  <script>

 

    function myFunction() {
      var element = document.querySelector("#myDropdown");
      element.classList.toggle("show");
      // document.querySelector("#myDropdown").classList.toggle("show");
      //  document.getElementsByClassName("dropdown-content").classList.toggle("show");
    }
    // let dropItdown = document.getElementById("myDropdown");
    // let dropContent = document.getElementsByClassName("dropdown-content");
    // dropItdown.addEventListener("on click", ()=>{
    //   dropContent.classList.toggle("show")
    // }

    window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
   
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
          }
        }
      }
    }

  </script>

  <div class="content_div">
  <%= yield %>
  </div>

</body>
</html>
