<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="if_logged">
      <% if logged_in?%> logged in as <%= current_user()['email']%>
        <form action="/logout" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </form>
     <%end%>
  </div><br>


  <div class="navbar_div">

  <ul class="left_nav">



    <li><a href="/">Home</a></li>
    <li><a href="/games/new">share a new game</a></li>
    <li>Action</li>
    <li>RPG</li>
    <li>FPS</li>
    <li>Strategy</li>
    <li>Simulation</li>
    <li>VR</li>
    <li>Sports</li>
  </ul>

  </div>

  <div class="content_div">
  <%= yield %>
  </div>

</body>
</html>
