<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  
  <div class="navbar_div">

  <ul>
     <% if logged_in?%>
    logged in as <%= current_user()['email']%>

      <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
        
      </form>

     <%end%>

  <li><a href="/">Home</a></li>
  <li><a href="/games/new">share a new game</a></li>
  </ul>

  </div>

  <div class="content_div">
  <%= yield %>
  </div>

</body>
</html>
