<h1>Game Intro Here</h1>

<form action="/games" method="post">
    <label for=""> name </label>
    <input type="text" name="name">
    <label for="">image url</label>
    <input type="text" name="image_url">
    <button>upload</button>


</form>