<h1>Create New Account</h1>

<form action="/login/newacc" method="post">
    <label for="">email</label>
    <input type="email" name="email">
    <label for="">password</label>
    <input type="password" name="password">
    <button>create</button>
</form>